<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            
            <h1 class="text-center">Ajouter un produit</h1>
            
            <%= render "form" %>
            
        </div>
    </div>
</div>



            <!--<form action="/products" method="post">-->
            <!--    <div class="form-group">-->
            <!--        <label for="name">Choisissez un nom de produit</label>-->
            <!--        <input type="text" name="product[name]" class="form-control" placeholder="Kudoz" id="name">-->
            <!--    </div>-->
                
            <!--    <div class="form-group">-->
            <!--        <label for="url">Quelle URL ?</label>-->
            <!--        <input type="text" name="product[url]" class="form-control" placeholder="http://getkudoz.com" id="url">-->
            <!--    </div>-->
                
            <!--    <input type="submit" value="Ajouter" class="btn btn-primary">-->
            <!--</form>-->